################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/WebSapaForestForStaff/Properties/launchSettings.json
