body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* ============ TOP NAVBAR ============ */
.top-navbar {
    background: #08382f;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.top-left {
    display: flex;
    align-items: center;
}

.home-icon {
    font-size: 28px;
    cursor: pointer;
    margin-right: 20px;
}

.top-menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

    .menu-item:hover {
        color: #e6b278;
    }

.top-right {
    display: flex;
    gap: 15px;
}

.icon-btn {
    font-size: 22px;
    cursor: pointer;
}

/* ============ MAIN CONTENT ============ */
.main-container {
    display: flex;
    flex-direction: column; /* Dọc */
    padding: 25px;
}
