@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="page-header">
    <h2>Bắt đầu từ đây!!!</h2>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Today's Revenue</h4>
                <p>$1,240</p>
            </div>
        </div>
    </div>
</div>


<h1>Hãy thêm nội dung mới vào đây!!!</h1>
<h2>Welcome to Restaurant Manager</h2>
<p>This is the home page for managing restaurant menus.</p>
